@charset "UTF-8";
*
{
	font-family: 맑은 고딕;
	
}

a
{
	text-decoration: none;
	color : #212529;
	font-weight: bold;

	
}

.form-label
{
	
	font-weight: bold;
}



.btn-custom {
  --bs-btn-color: #93be2c;
  --bs-btn-bg: #eff7dd;
  --bs-btn-border-color: #93be2c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #93be2c;
  --bs-btn-hover-border-color: #93be2c;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #93be2c;
  --bs-btn-active-border-color: #afafaf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #93be2c;
  --bs-btn-disabled-bg: #eff7dd;
  --bs-btn-disabled-border-color: #93be2c;
  --bs-btn-line-height: 1;
}

.btn-disabled {
  --bs-btn-color: gray;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-bg: gray;
  --bs-btn-hover-border-color: #212529;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #gray;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #93be2c;
  --bs-btn-disabled-bg: #eff7dd;
  --bs-btn-disabled-border-color: #93be2c;
  --bs-btn-line-height: 1;
}

/* 관리자 계정 생성 페이지 -------------------  */
.admin-box
{
	margin: auto;
	border: 1px solid #212529;
	padding: 20px;
	margin-top: 30px;	
	width: 90%;
	
}
.admin-account-create-notcie
{
	overflow: auto; 
	width: 100%; 
	height: 300px; 
	padding: 10px; 
	white-space: normal;
	
}

/* -------------------  관리자 계정 생성 페이지  */





/* 리스트 기본 -------------------  */

.list_head
{
	margin-left: auto;
	width: 90%;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}


.list_name
{
	border: 1px solid #212529;
	/* border-radius:10px; */
	/* background-color: #eff7dd; */
	text-align: center;
	padding: 5px 10px 5px 10px;	
	font-weight: bold;

	
	
}
.head-number
{
	/* border: 1px solid #afafaf; */
	/* border-radius:10px; */
	text-align: center;
	padding: 5px 10px 5px 10px;	
	font-weight: bold;
	margin-left: 5px;
}

.list>div
{
	/* border: 1px solid #212529; */
	border-radius: 0px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	

	
}
.list-body-first
{

	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px #212529 solid;
	margin-bottom: 5px;
}

.list-body
{
	text-align: center;
	border-bottom: 2px #c2c9cf solid;
	margin-bottom: 3px;
}


.list-page
{
	margin: 0 auto;
}

/* -------------------  리스트 기본  */


/* 스터디카페 리스트 */
.studycafe-list
{
	width: 80%;
	
	
}


.content-name
{
	border-bottom: 1px solid #212529;
	text-align: center;
	padding: 5px 10px 5px 10px;	
	font-weight: bold;
	margin: 5px;
	margin-left: 10px;
	font-size: small;
	
}
.content-detail
{
	border-bottom: 1px solid #212529;
	text-align: center;
	padding: 5px 10px 5px 10px;	
	margin: 5px;
	margin-left: px;
	font-size: small;
	
}


/* 관리자페이지 - 스터디그룹 상세페이지 중 그룹원 버튼 */


.btn-leader{
  --bs-btn-color: #94bc32;
  --bs-btn-bg: #f7fbee;
  --bs-btn-border-color: #94bc32;
  --bs-btn-hover-color: #94bc32;
  --bs-btn-hover-bg: #edf6d9;
  --bs-btn-hover-border-color: #94bc32;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #94bc32;
  --bs-btn-active-bg: #f7fbee;
  --bs-btn-active-border-color: #94bc32;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #fff;
  --bs-btn-disabled-border-color: #94bc32;
  --bs-btn-line-height: 1;
  margin-bottom: 5px;
}


.btn-member{
  --bs-btn-color: #222222;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #94bc32;
  --bs-btn-hover-color: #222222;
  --bs-btn-hover-bg: #f7fbee;
  --bs-btn-hover-border-color: #94bc32;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #94bc32;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffffff;
  --bs-btn-disabled-border-color: #94bc32;
  --bs-btn-line-height: 1;
  margin-bottom: 5px;
}


/* 페이징 */


.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: #222222;
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .page-link {
    transition: none;
  }
}
.page-link:hover {
  z-index: 2;
  color: var(--bs-pagination-hover-color);
  background-color: var(--bs-pagination-hover-bg);
  border-color: var(--bs-pagination-hover-border-color);
}
.page-link:focus {
  z-index: 3;
  color: var(--bs-pagination-focus-color);
  background-color: var(--bs-pagination-focus-bg);
  outline: 0;
  box-shadow: var(--bs-pagination-focus-box-shadow);
}
.page-link.active, .active > .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}
.page-link.disabled, .disabled > .page-link {
  color: var(--bs-pagination-disabled-color);
  pointer-events: none;
  background-color: var(--bs-pagination-disabled-bg);
  border-color: var(--bs-pagination-disabled-border-color);
}

.page-item:not(:first-child) .page-link {
  margin-left: calc(var(--bs-border-width) * -1);
}
.page-item:first-child .page-link {
  border-top-left-radius: var(--bs-pagination-border-radius);
  border-bottom-left-radius: var(--bs-pagination-border-radius);
}
.page-item:last-child .page-link {
  border-top-right-radius: var(--bs-pagination-border-radius);
  border-bottom-right-radius: var(--bs-pagination-border-radius);
}

.pagination-lg {
  --bs-pagination-padding-x: 1.5rem;
  --bs-pagination-padding-y: 0.75rem;
  --bs-pagination-font-size: 1.25rem;
  --bs-pagination-border-radius: var(--bs-border-radius-lg);
}



.form-text
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.del_check
{
	border: 1px solid #212529;
	border-radius:10px;
	text-align: center;
	padding: 25px;	
	font-weight: bold;
	align-items: center;
	width: 100%;
}

.table>tbody>tr>th
{
	/* background-color: #f7fbee;	 */
	text-align: center;
}

.table {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: var(--bs-body-bg);
  --bs-table-border-color: #212529;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-emphasis-color);
  --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
  --bs-table-active-color: var(--bs-emphasis-color);
  --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
  --bs-table-hover-color: var(--bs-emphasis-color);
  --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
  width: 90%;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  border-color: #212529;
  
  
}
