@charset "UTF-8";

/* 공통 적용 */
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    flex-direction: column;
}
/* 
.content_div
{
	display: flex; 
	flex-direction: column; 
	justify-content: center
}
 */
 
.page_title > span
{
	color: #5b5b5b;
	font-size: 30px;
	/* font-weight: bold; */
	padding-bottom: 5px;
	border-bottom: 3px solid #94BE2C;
}

span > span
{
	color: #94BE2C;
}


.paging
{
	display: flex;
	justify-content: center;
}

.page-link
{
	color: #5b5b5b;
	border: none;
}

.page-link:hover, .page-link:focus 
{
	color: #93bc32;
	background: none;
	outline-color: #93bc32;
}

.paging
{
	margin-top: 50px;
}

/*-----------------------마이 캘린더-------------------------*/
/* 
table#calendar
{
	border: 1px solid gray;
}
 */
table#calendar th, table#calendar tr:nth-child(n+2), table#calendar tr:nth-child(n+2) > td
{
	border: 1px solid gray;
}

table#calendar th
{
	text-align: center;
	width: 99px;
}

table#calendar tr
{
	height: 77px;
}

table#calendar tr:nth-child(2)
{
	height: 28px;
}

table#calendar tr:nth-child(1)
{
	height:60px; 
	font-size: 30px;
}


#calendar a
{
	text-decoration: none;
	color: #5b5b5b;
	
}

.div_date
{
	position: relative;
    width: 80px;
    height: 80px;
}

.date
{
	position: absolute;
    top: 5px;
    right: 5px;
    margin-right: 10px;
}

.calBtn
{
    border: none;
    background: none;
    font-size: 16px;
}



/*--------- 마이페이지 ---------*/
.guMypage_div
{
	display: flex; flex-direction: row; 
	justify-content: space-between;
}

.guMypage_div > div
{
	width: 100%; 
	/* border-radius: 15px; */ 
	/* box-shadow: 5px 5px 5px #d3d3d3; */
	margin-top: 50px; 
	height: 150px; 
	/* border: 1px solid rgba(0, 0, 0, 0.175); */
	border-bottom: 2px solid #94be24;
	
}

.guInfo_div
{
	display: flex;
}

.guInfo
{
	width: 40%;
	height: 100%;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.modifyIcon
{
	display: flex; 
	justify-content: flex-end;
}

#guInfo_list, #guInfo_modify
{
	display: flex;
	width: 60%;
	justify-content: space-evenly;
}

.guInfo_list1
{
	/* width: 30%; */
	height: 100%;
	font-size: 16px; 
	margin-left: 15px;
}

.guInfo_list2
{
	/* width: 30%; */
	height: 100%;
	font-size: 16px; 
	margin-left: 15px;
}

.joinGroupInfo
{
	margin-top: 50px; 
	display: flex; 
	justify-content: space-between;
}

.joinGroupInfo > div
{
	width: 30%; 
	border-radius: 10px; 
	height: 200px; 
	box-shadow: 5px 5px 5px #d3d3d3;
	border: 1px solid rgba(0, 0, 0, 0.175); 
	font-size: 28px;
}

.groupInfo_title
{
	margin-left: 20px; 
	margin-top: 20px;
}

.groupInfo_title > span
{
	color: #94BE2C;
}

.groupCount
{
	text-align: right; 
	margin-right: 10%;
}

.groupCount > span
{
	color: #94BE2C; 
	font-size: 40px; 
	font-weight: bold;
}

.modify_text
{
	border: none;
	border-bottom: 2px solid #dfdfdf;
	width: 180px;
	height: 30px;
	/* margin-bottom: 15px; */
}

.modify_text:focus
{
 	outline: none; 
}

.modifyIcon
{
	cursor: pointer;
	height: 24px;
	border: none;
	background: none;
}

#checkIcon, #closeIcon
{
	display: flex;
    align-items: center;
}

td > button
{
	border: none;
	background: none;
}

/* 패널티 내역 조회 */
table.penalty_list
{
	width: 100%;
}

table.penalty_list th
{
	color: #5b5b5b;
	font-size: 20px;
 	border-top: 3px solid #93BE2C;
	border-bottom: 3px solid #93BE2C; 
}

table.penalty_list td
{
	font-size: 16px;
}

table.penalty_list th, td
{
	height: 45px;
}

.penalty_sorting
{
	float: right;
}

.spacer 
{
    height: 5px;
}

table.penalty_list tr:nth-child(14)
{
	border-bottom: 3px solid #94BE2C;
} 

/* 신고 내역 조회 */

table.red_list
{
	width: 100%;
}

table.red_list th
{
	color: #5b5b5b;
	font-size: 20px;
 	border-top: 3px solid #93BE2C;
	border-bottom: 3px solid #93BE2C; 
}

table.red_list td
{
	font-size: 16px;
}

table.red_list th, td
{
	height: 45px;
}

.red_sorting
{
	float: right;
}

.spacer 
{
    height: 5px;
}

table.red_list tr:last-child
{
	border-bottom: 3px solid #94BE2C;
} 


