@charset "UTF-8";

/* 페이지 기본 css */

/* 페이지 설명 */
.page_title > span
{
	color: #5b5b5b;
	font-size: 30px;
	padding-bottom: 5px;
	border-bottom: 3px solid #93BE2C;
}

span > span
{
	color: #94bc32;
}

/* 페이지 설명 end */

/* 셀렉트 박스 */
.sorting_div
{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

.notice_btn
{
	border: 2px solid #94be2c;
	background-color: #94be2c;
	color: #ffffff;
	border-radius: 3px;
	font-size: 18px;
	height: 30px;
}

/* 셀렉트 박스 end */

/* 리스트 테이블 */
.list
{
	height: 520px;
}

table
{
	width: 100%;
}

.list_table tr > th
{
	color: #5b5b5b;
	font-size: 20px;
 	border-top: 3px solid #93BE2C;
	border-bottom: 3px solid #93BE2C; 
}

.list_table td
{
	font-size: 18px;
}

.list_table tr > th, td
{
	height: 45px;
}

.spacer 
{
    height: 5px;
}

a
{
	color: #212529;
	text-decoration: none;
}

table.list_table tr:last-child
{
	border-bottom: 3px solid #94BE2C;
} 
/* 리스트 테이블 end */


/*--------- 마이페이지 ---------*/
.hoMypage_div
{
	display: flex; flex-direction: row; 
	justify-content: space-between;
}

.hoMypage_div > div
{
	width: 100%; 
	/* border-radius: 15px; */ 
	/* box-shadow: 5px 5px 5px #d3d3d3; */
	margin-top: 50px; 
	height: 150px; 
	/* border: 1px solid rgba(0, 0, 0, 0.175); */
	border-bottom: 2px solid #94be24;
	
}

.hoInfo_div
{
	display: flex;
}

.hoInfo
{
	width: 40%;
	height: 100%;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.modifyIcon
{
	display: flex; 
	justify-content: flex-end;
}

#hoInfo_list, #hoInfo_modify
{
	display: flex;
	width: 60%;
	justify-content: space-evenly;
}

.hoInfo_list1
{
	/* width: 30%; */
	height: 100%;
	font-size: 16px; 
	margin-left: 15px;
}

.hoInfo_list2
{
	/* width: 30%; */
	height: 100%;
	font-size: 16px; 
	margin-left: 15px;
}

.joinGroupInfo
{
	margin-top: 50px; 
	display: flex; 
	justify-content: space-between;
}

.joinGroupInfo > div
{
	width: 30%; 
	border-radius: 10px; 
	height: 200px; 
	box-shadow: 5px 5px 5px #d3d3d3;
	border: 1px solid rgba(0, 0, 0, 0.175); 
	font-size: 28px;
}

.groupInfo_title
{
	margin-left: 20px; 
	margin-top: 20px;
}

.groupInfo_title > span
{
	color: #94BE2C;
}

.groupCount
{
	text-align: right; 
	margin-right: 10%;
}

.groupCount > span
{
	color: #94BE2C; 
	font-size: 40px; 
	font-weight: bold;
}

.modify_text
{
	border: none;
	border-bottom: 2px solid #dfdfdf;
	width: 180px;
	height: 30px;
	/* margin-bottom: 15px; */
}

.modify_text:focus
{
 	outline: none; 
}

.modifyIcon
{
	cursor: pointer;
	height: 24px;
	border: none;
	background: none;
}

#checkIcon, #closeIcon
{
	display: flex;
    align-items: center;
}

td > button
{
	border: none;
	background: none;
}
/* --------------------------------------------- */




/* 상세정보 div */
.info_list th
{
	font-size: 16px;
	color: #5b5b5b;
}

.info_box
{
	border-radius: 5px;
	box-shadow: 5px 5px 5px #d3d3d3;
}






/* 페이징 처리 버튼 */
nav
{
	display: flex;
	justify-content: center;
}

.paging
{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.page-link
{
	color: #212529;
	border: none;
}

.page-link:hover, .page-link:focus 
{
	color: #93bc32;
	background: none;
	outline-color: #93bc32;
}


/* 검색 영역 */

.category_search
{
	margin-top: 5px;
	display: flex;
    justify-content: flex-end;
}


.category_search > select, input, .search_btn
{
	height: 26px;
}

.category_search > .search_input, .search_input:focus
{
	width: 180px;
	margin-left: 5px;
	outline-color: #94be2c;
}

.category_search > .search_btn
{
	border: none;
	background-color: #ffffff;
	font-size: 16px;
	color: #212529;
	margin-left: 5px;
}

.category_search > .search_btn:active  
{
	color : #94be2c;;
	font-weight: bold;
}

