@charset "UTF-8";

.content_div
{
	display: flex; 
	height: 600px; 
	flex-direction: column; 
	justify-content: center
}

.type_description
{
	font-size: 35px; 
	text-align: center;
	margin-bottom: 70px;
	color: #212529;
}

.type
{
	display: flex; 
	justify-content: space-evenly;
}

.button_description
{
	text-align: center;
	margin-bottom: 20px;
}



.type_button
{
	width: 250px; 
	height: 100px; 
	border-radius: 10px; 
	font-size: 20px; 
	font-weight: bold; 
	color: #93bc32; 
	background: #ffffff; 
	border: 2px solid #93be2c;
}


.type_button:hover
{
	border: none;
	background: #93be2c;
	color: #ffffff;
	
}