@charset "UTF-8";


section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    /* background-color: #f6f6f6; */
}


.login_form
{
	width: 300px;
} 

.content_div
{
	margin: 0 auto;
}

.login_description
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.login_description > .text1
{
	font-size: 32px; 
	font-weight: bold; 
}

.login_description > .text2
{
	font-size: 14px;
	text-align: center; 
	color: #5b5b5b;
}

.login_form
{
    margin: auto;
}

.login_status
{
	margin-bottom: 50px;
}

.radio_status
{
    margin: 0 auto;
}

.status input[type="radio"]	
{
	display: none;
}
	
.status input[type="radio"] + span
{
	display: inline-block;
    /* padding: 4px; */
    /* border: 1px solid #dfdfdf; */
    border-radius: 10px;
    /* background-color: #ffffff; */
    text-align: center;
    cursor: pointer;
    color: #5b5b5b;
    width: 140px;
}

.status input[type="radio"]:checked + span 
{
    /* background-color: #94bc32;
    color: #ffffff; */
    /* background-color: #94bc32; */
    color: #94bc32;
}

.input_area
{
	width: 300px;
	border: none;
	margin-bottom: 15px;
}

.login_text
{
	border: none;
	border-bottom: 2px solid #dfdfdf;
	width: 300px;
	height: 40px;
	font-size: 16px;
	margin-bottom: 15px;
}

.login_text:focus
{
 	outline: none; 
}

.login_form > button[type="submit"]
{
	width: 300px; 
	height: 50px;
	background: #ffffff;
	border: 2px solid #93be2c;
	color: #93be2c;
	font-size: 20px;
	font-weight: bold;
}


.login_menu
{
	font-size: 14px;
	margin-top: 10px;
	margin-left: 25px;
	color: #5b5b5b;
}

a
{
	text-decoration: none;
	color: #5b5b5b;
}
