@charset "UTF-8";

.content_div
{
	margin-top: 20px;
}

.carousel-inner > img
{
    width: 1100px;
    height: 200px;
}

a
{
	text-decoration: none;
	color: #212529;
}

.subject-title
{
	margin-bottom: 30px; 
	font-size: 20px;
	display: flex;
    justify-content: space-between;
}

.card
{
	max-width: 18rem;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #d3d3d3;
	margin-bottom: 30px ;
	height: 150px;
}

.card-header
{
	display: flex;
    justify-content: space-between;
}

.d-day
{
	color: #93be2c;
}

.card-text
{
	color: #000000;
}

.latest-list
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.count > img
{
	width: 25px;
	height: 25px;
}

.count
{
	font-size: 12px;
	margin-left: 5%;
	margin-bottom: 5px;
}

.list-div
{
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    box-shadow: 5px 5px 5px #d3d3d3;
}

.board-category
{
	font-size: 14px;
}

.write-info, .cafe-addr
{
	display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.writer
{
	margin-right: 8px;
}

.reaction
{
	font-size: 12px;
}


.list-item
{
	list-style: none;
    margin: 0;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #e1e1e1;
}

.item-info
{
	display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.item-title, .cafe-title
{
	font-size: 16px;
    margin-left: 20px;
	
}

.cafe-title
{
	display: flex;
    align-items: center;
}
