@charset "UTF-8";

ul
{
	list-style: none;
	padding-left: 0px;
}

a
{
	text-decoration: none;
}

h5
{
	margin-bottom: 0 !important;
}

p
{
	margin: 0;
}

#content
{
	display: initial;
	margin-left: auto !important;
	margin-right: auto !important;
}

.content_div
{
	width: 50%;
	margin: auto;
	padding-top: 30px;
}

.content_main
{
	padding-top: 100px;
	padding-bottom: 100px;
	width: 100%;
	margin: auto;
}

#content_main
{
	border-bottom: 3px solid #94BE2C;
}

#category
{
	border-bottom: 3px solid #94BE2C;
}

#category> h3
{
	margin-top: 50px;
}

#title
{
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
    justify-content: space-between;
}

#post_info
{
	display: flex;
	padding-bottom: 15px;
	border-bottom: 1px solid #94BE2C;
}

#user_id
{
	padding: 5px;
}

#posting_date
{
	margin: 0 !important;
	padding: 5px;
}

.comment
{
	width: 100%;
	margin: auto;
}

.detail_info
{
	padding: 5px;
	float: right;
	margin-left: auto;
}

#comment_count
{
	padding-bottom: 15px;
	padding-top: 15px;
}

#comment_id
{
	width: 20%;
}
#comment_detail
{
	width: 60%;
}
#comment_date
{
	width: 20%;
	text-align: right;
}

.write_comment
{
	width: 100%;
	margin: auto;
	padding-top: 15px;
	border-bottom: 3px solid #94BE2C;
	
}

#comment_list ul li
{
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	margin-bottom: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #dee2e6;
}

#comment_list ul li:last-child
{
	display: flex;
	flex: auto;
	flex-wrap: wrap;
	margin-bottom: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: none;
}

#comment_list ul
{
	border-top: 3px solid #94BE2C !important;	
	border-bottom: 3px solid #94BE2C !important;	
}

li a
{
	padding-top: 10px;
	padding-right: 10px;
}

.table td
{
	border: none !important;
	justify-content: center;
}

.table td input
{
	width: 150px;
}

#comment_nickname
{
	width: 150px;
}

#comment_password
{
	width: 150px;
}

#comment_text
{
	width: 100%;
	height: 80px;
	resize: none;
}

.redBtn
{
	float: right;
	margin-left: auto;
}

.btn
{
	border: 1px solid black;
}

.btn:hover
{
	background-color: gray;
	border: 1px solid black;
}

.button_box
{
	width: 100%;
	text-align: right;
	margin: auto;
}

.button_box .btn
{
	margin-top: 10px;
	margin-left: 5px;
}

.replyBtn
{
	border: none !important;
}

#modify_button
{
	float: right;
	margin-left: 10px;
}

#delete_button
{
	margin-left: 10px;
	float: right;
}

#reply_submit
{
	width: 100%;
	height: 80px;
	
}

#rereply_id
{
	margin-left: 5%;
}

#rereply_id > #comment_detail
{
	width: 55%;	
}

#rereply_id > #comment_date
{
	width: 25%;
}

.board_btn
{
	float: bottom;
}

#comment_input
{
	width: 80%;
}
#comment_submit
{
	width: 20%;
}

.friend_btn
{
	background: none;
	border: none;
}
