@charset "UTF-8";

.search_div
{
	width: 60%;
	margin: 0 auto;
}

.underline
{
	border-bottom: 2px solid #93be2c;
}

.search_description
{
	margin: 50px 0 20px 0;
}

.search_form
{
	margin: 30px 0;
}

tr
{
	height: 40px;
}

.search_title
{
	width: 200px;
}

.search_input
{
	width: 260px;
}


.search_text:focus
{
	outline-color: #93bc32;
}

.search_text
{
	width: 250px;
	border-radius: 5px;
	border: 1px solid #5b5b5b;
	height: 28px;
}

td > button
{
	border-radius: 5px;
	/* border: 1px solid #93bc32; */
	border: none;
	color: #93bc32;
    background: #ffffff;
    font-size: 16px;
    text-align: center;
    height: 28px;
    width: 80px;
}

td > button:active, button:hover, button:focus
{
	background: #93bc32;
	/* border: 2px solid #93bc32; */.
	border: none;
	color: #ffffff;
}

td > button[type="submit"]
{
    margin-top: 20px;
    width: 392px;
    height: 38px;
    font-size: 20px;
    font-weight: bold;
}

button.search_btn
{
	float: right;
	border-radius: 5px;
	margin-top: 20px;
    width: 150px;
    height: 38px;
    font-size: 20px;
    font-weight: bold;
    color: #93bc32;
    background: #ffffff;
    border: 2px solid #93bc32;
}

button.search_btn:active, .search_btn:hover 
{
	background: #93bc32;
	border: 2px solid #93bc32;
	color: #ffffff;
}
