@charset "UTF-8";

/* 페이지 기본 css */

/* 페이지 설명 */

ul
{
	list-style: none;
}

#content
{
	margin-left: 250px !important;
}

.board_title > span
{
	color: #94bc32;
	font-size: 30px;
	padding-bottom: 5px;
	border-bottom: 3px solid #93BE2C;
}

#write_button
{
	float: right;
	margin-left: auto !important;
}


/* 페이지 설명 옆 메뉴 */
.board_title
{
	display: flex;
	padding-top: 20px;
}
/* 페이지 설명 옆 메뉴 end */

/* 페이지 설명 end */

/* 셀렉트 박스 */
.sorting_div
{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

.notice_btn
{
	border: 2px solid #94be2c;
	background-color: #94be2c;
	color: #ffffff;
	border-radius: 3px;
	font-size: 16px;
	height: 30px;
}

/* 셀렉트 박스 end */

/* 리스트 테이블 */
.list
{
	height: 600px;
}

table
{
	width: 100%;
}

.list_table tr > th
{
	color: #5b5b5b;
	font-size: 20px;
 	border-top: 3px solid #93BE2C;
	border-bottom: 3px solid #93BE2C;
}

.list_table td
{
	font-size: 18px;
}

.list_table tr > th, td
{
	height: 45px;
	text-align: center;
}

.spacer 
{
    height: 5px;
}

a
{
	color: #212529;
	text-decoration: none;
}

table.list_table tr:last-child
{
	border-bottom: 3px solid #94BE2C;
} 

/* 리스트 테이블 end */



/* 상세정보 div */
.info_list th
{
	font-size: 16px;
	color: #5b5b5b;
}

.info_box
{
	border-radius: 5px;
	box-shadow: 5px 5px 5px #d3d3d3;
}

/* 페이징 처리 버튼 */
.paging
{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	color: #212529;
}

.page-link
{
	color: #212529;
	border: none;
}

.page-link:hover, .page-link:focus 
{
	color: #93bc32;
	background: none;
	outline-color: #93bc32;
}


/* 검색 영역 */

.category_search
{
	margin-top: 5px;
	display: flex;
	justify-content: flex-end;
}

.category_search > select, input, .search_btn
{
	height: 26px;
}

.category_search > .search_input, .search_input:focus
{
	width: 180px;
	margin-left: 5px;
	outline-color: #94be2c;
}


.category_search > .search_btn
{
	border: none;
	background-color: #ffffff;
	font-size: 16px;
	color: #212529;
	margin-left: 5px;
}

.category_search > .search_btn:active 
{
	color : #94be2c;;
	font-weight: bold;
}


.card
{
	border-radius: 15px;
	box-shadow: 5px 5px 5px #d3d3d3;
}

.card-header
{
	display: flex;
    justify-content: space-between;
}

.d-day
{
	color: #93be2c;
}

.card-text
{
	color: #000000;
}

.latest-list
{
	display: flex;
	justify-content: space-between;
}


.card-bottom
{
	display: flex;
}

#count > img
{
	width: 25px;
	height: 25px;
}

#count
{
	font-size: 12px;
	margin-right: auto;
	margin-left: 5%;
	margin-bottom: 5px;
	float: left;
}

#grNum
{
	font-size: 12px;
	margin-right: 5%;
	margin-left: auto;
	margin-bottom: 5px;
	float: right;
}

.list-div
{
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 0.375rem;
    box-shadow: 5px 5px 5px #d3d3d3;
}

#groupRegList_box
{
	width: 100% !important;
}

#groupReg_one
{
	justify-content: center !important;
}

.modal-body
{
	text-align: left;
}

.modal-body > input
{
	border: none;
}